@{
    ViewData["Title"] = "";
}

@model WebApplication2.Models.AddUserViewModel

<h1>Login</h1>

<form method="post">
    <div class="mt-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control @(ViewData.ModelState[""]?.Errors.Count > 0 ? "is-invalid" : "")" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mt-3">
        <label>Password</label>
        <input asp-for="Password" type="password"
               class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="mt-3">
        <button class="btn btn-primary">Login</button>
        <a asp-controller="Account"
           asp-action="Create"
           class="btn btn-outline-secondary">
            Create Account
        </a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
